@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Blender-Bold";
  src: url("../public/fonts/BlenderPro-Bold.ttf");
}

@font-face {
  font-family: "Blender-Book";
  src: url("../public/fonts/BlenderPro-Book.ttf");
}

@font-face {
  font-family: "Blender-Medium";
  src: url("../public/fonts/BlenderPro-Medium.ttf");
}

@font-face {
  font-family: "Blender-Heavy";
  src: url("../public/fonts/BlenderPro-Heavy.ttf");
}

@layer utilities {
  .shape {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 24% 100%, 0 72%);
  }

  .textlight {
    text-shadow: 0 0 14px #ffffff60;
  }

  .shapeHamburger {
    clip-path: polygon(74% 0, 100% 29%, 100% 100%, 0 100%, 0 0);
  }

  .shapeButton {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 99%, 0 78%);
  }

  .shapeButtonSecondary {
    clip-path: polygon(92% 0, 100% 21%, 100% 100%, 0 100%, 0 0);
  }

  .shape1Divider {
    clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%, 0 0);
  }

  .shape2Divider {
    clip-path: polygon(0 0, 99% 0, 100% 100%, 1% 100%, 0 0);
  }

  .sliderCharSide {
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%, 0 100%);
  }

  .sliderCharCenter {
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%, 0 100%);
  }

  .sliderCharFinal {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  .nav-menu {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;

    right: -100%;

    transition: 650ms;
  }

  .positioning {
    transform: translate(-50%, -50%);
  }

  .active {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;

    right: 0;
    transition: 650ms;
  }

  .animation-delay-75 {
    animation-delay: 75ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300s;
  }


}
